vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Feb 2004 15:31:10 -0000
vti_extenderversion:SR|4.0.2.5526
vti_backlinkinfo:VX|reportsmenus.asp
vti_cacheddtm:TX|08 Feb 2004 15:31:10 -0000
vti_filesize:IR|2282
vti_cachedlinkinfo:VX|S|flyout.htc
vti_cachedsvcrellinks:VX|NSUS|style/flyout.htc
