vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Dec 2003 15:06:42 -0000
vti_extenderversion:SR|4.0.2.5322
vti_backlinkinfo:VX|style/ie.css webmenu.asp menu.htm
vti_cacheddtm:TX|07 Dec 2003 15:06:42 -0000
vti_filesize:IR|2412
vti_cachedlinkinfo:VX|S|/library/shared/webparts/webparts.htc S|../images/chevronUp.jpg S|../images/chevronUp.jpg S|ie.css
vti_cachedsvcrellinks:VX|NSUS|file:///library/shared/webparts/webparts.htc NSUS|images/chevronUp.jpg NSUS|images/chevronUp.jpg FSUS|style/ie.css
