vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Nov 2002 10:40:18 -0000
vti_extenderversion:SR|4.0.2.5322
vti_cacheddtm:TX|13 Nov 2002 10:40:18 -0000
vti_filesize:IR|6135
vti_cachedlinkinfo:VX|S|/common/resources/right.gif S|/common/resources/left.gif S|/common/resources/right.gif S|/common/resources/left.gif
vti_cachedsvcrellinks:VX|NSUS|file:///common/resources/right.gif NSUS|file:///common/resources/left.gif NSUS|file:///common/resources/right.gif NSUS|file:///common/resources/left.gif
vti_backlinkinfo:VX|reportsmenus.asp
