vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Dec 2002 06:22:22 -0000
vti_extenderversion:SR|4.0.2.4426
vti_backlinkinfo:VX|data/editagent.asp web/webaddclient.asp data/addclientold.asp data/editshare.asp data/editholiday.asp data/addshare.asp data/addholiday.asp
vti_cacheddtm:TX|11 Dec 2002 06:22:22 -0000
vti_filesize:IR|3955
vti_cachedlinkinfo:VX|S|CALENDAR/spiffycal.cur S|CALENDAR/spiffycal.cur S|CALENDAR/spiffycal.cur S|CALENDAR/spiffycal.cur
vti_cachedsvcrellinks:VX|NSUS|Calendar/CALENDAR/spiffycal.cur NSUS|Calendar/CALENDAR/spiffycal.cur NSUS|Calendar/CALENDAR/spiffycal.cur NSUS|Calendar/CALENDAR/spiffycal.cur
