a:visited{color:blue;text-decoration: none;}
a:active{color:blue;text-decoration: none;}
a:link{color:blue;text-decoration: none;}
a:hover{color:firebrick;text-decoration: underline;}

h1{font-family:arial;font-size:19px;color:gray;}
h2{font-family:arial;font-size:16px;}
