BODY
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: white
}
TABLE
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    FONT-FAMILY: Tahoma, Verdana, Arial
}
A
{
    COLOR: #0f2f2f
}
A:hover
{
    COLOR: dimgray
}
HR
{
    COLOR: darkslategray;
    HEIGHT: 1px
}
TR.PageTitle
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    BACKGROUND-COLOR: white
}
TABLE.Main
{
}
TR.Main
{
    VERTICAL-ALIGN: top;
    BACKGROUND-COLOR: white
}
TD.PageTitle
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: silver 10px solid;
    FONT-WEIGHT: 600;
    FONT-SIZE: 12pt;
    BORDER-LEFT: medium none;
    COLOR: navy;
    BORDER-BOTTOM: medium none;
    TEXT-ALIGN: center
}
TD.PageSubTitle
{
    FONT-SIZE: 8pt;
    COLOR: slateblue;
    BORDER-BOTTOM: silver 10px solid;
    TEXT-ALIGN: center
}
TD.Main
{
    BORDER-RIGHT: silver 2px solid;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: silver 2px solid;
    BORDER-BOTTOM: silver 10px solid
}
TD.MainNav
{
    BORDER-RIGHT: silver 2px solid;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: silver 2px solid;
    WIDTH: 150px;
    BACKGROUND-COLOR: white
}
TD.MainContent
{
    PADDING-RIGHT: 8px;
    PADDING-LEFT: 8px;
    PADDING-BOTTOM: 8px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 8px;
    BACKGROUND-COLOR: #ffffff
}
TD.CategoryTitle
{
    BORDER-RIGHT: darkslategray 1px solid;
    BORDER-TOP: darkslategray 1px solid;
    FONT-WEIGHT: 600;
    BORDER-LEFT: darkslategray 1px solid;
    COLOR: navy;
    BORDER-BOTTOM: darkslategray 1px solid;
    BACKGROUND-COLOR: white
}
TD.SearchTitle
{
    BORDER-RIGHT: darkslategray 1px solid;
    BORDER-TOP: darkslategray 1px solid;
    FONT-WEIGHT: 600;
    BORDER-LEFT: darkslategray 1px solid;
    COLOR: navy;
    BORDER-BOTTOM: darkslategray 1px solid;
    BACKGROUND-COLOR: white
}
TD.FeaturesTitle
{
    BORDER-RIGHT: darkslategray 1px solid;
    BORDER-TOP: darkslategray 1px solid;
    FONT-WEIGHT: 600;
    BORDER-LEFT: darkslategray 1px solid;
    COLOR: navy;
    BORDER-BOTTOM: darkslategray 1px solid;
    BACKGROUND-COLOR: white
}
TD.UserTitle
{
    BORDER-RIGHT: darkslategray 1px solid;
    BORDER-TOP: darkslategray 1px solid;
    FONT-WEIGHT: 600;
    BORDER-LEFT: darkslategray 1px solid;
    COLOR: navy;
    BORDER-BOTTOM: darkslategray 1px solid;
    BACKGROUND-COLOR: white
}
INPUT
{
    FONT-SIZE: 9pt
}
INPUT.Keyword
{
    WIDTH: 100px
}
SELECT
{
    FONT-SIZE: 9pt
}
TD.Footer
{
    PADDING-BOTTOM: 5px;
    COLOR: white;
    PADDING-TOP: 5px;
    TEXT-ALIGN: center
}
A.Footer
{
    COLOR: white
}
A.Footer:hover
{
    COLOR: slategray
}
TR.ProductRowEven
{
    BACKGROUND-COLOR: white
}
TR.ProductRowOdd
{
    BACKGROUND-COLOR: gainsboro
}
TD.FormFieldTitle
{
    BORDER-RIGHT: darkslategray 1px solid;
    BORDER-TOP: darkslategray 1px solid;
    FONT-WEIGHT: 600;
    BORDER-LEFT: darkslategray 1px solid;
    COLOR: navy;
    BORDER-BOTTOM: darkslategray 1px solid;
    BACKGROUND-COLOR: white
}
TD.FormFieldData
{
    BORDER-RIGHT: #efefef 1px solid;
    BORDER-TOP: #efefef 1px solid;
    FONT-WEIGHT: 400;
    BORDER-LEFT: #efefef 1px solid;
    COLOR: black;
    BORDER-BOTTOM: #efefef 1px solid
}
